/chapter_appendix/
/chapter_computational-performance/
/chapter_computer-vision/
/chapter_convolutional-neural-networks/
/chapter_deep-learning-basics/
/chapter_deep-learning-computation/
/chapter_how-to-use/
/chapter_introduction/
/chapter_natural-language-processing/
/chapter_optimization/
/chapter_preface/
/chapter_prerequisite/
/chapter_recurrent-neural-networks/
/d2l_zh_p/
/d2lzh/
/data/
/img/
